<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="text-align: center;">
<div>
  <hr>
  <h1>Stock Market Charting</h1>
  <hr>
  <br>
  <hr>
  <div></div>
  <button type="button" class="btn btn-success">
    <a [routerLink]="['/empty']" routerLinkActive="router-link-active" ><span>Get started</span></a>
  </button><p>&nbsp;</p>
  <button type="button" class="btn btn-success">
    <a [routerLink]="['/']" routerLinkActive="router-link-active"><span>Logout</span></a>
  </button>
  <div></div>
  <br>
</div>
<router-outlet></router-outlet>




